<div class="splash-main">
  <div id="splash-first" class="content-line"><span class="splash-name">Tyler A. Guillen</span></div>
  <div id="splash-second" class="content-line">
    <span class="splash-italic">is a</span>
    <span class="splash-job"><%= link_to "Web Developer", webdev_path %>,</span>
  </div>
  <div id="splash-third" class="content-line">
    <span class="splash-italic">a</span>
    <span class="splash-job"><%= link_to "Photographer", photographer_path %>,</span>
  </div>
  <div id="splash-fourth" class="content-line">
    <span class="splash-italic">and a</span>
    <span class="splash-job"><%= link_to "Philosopher", philosopher_path %>.</span>
  </div>
</div>
