<div class="splash-main">
  <div id="splash-first" class="content-line"><span class="splash-name">Tyler A. Guillen</span></div>
  <div id="splash-second" class="content-line">
    <span class="splash-italic">is a</span>
    <span class="splash-job"><a href="#" style="z-index:10;">Web Developer</a>,</span>
  </div>
  <div id="splash-third" class="content-line">
    <span class="splash-italic">a</span>
    <span class="splash-job"><a href="#" style="z-index:9;">Photographer</a>,</span>
  </div>
  <div id="splash-fourth" class="content-line">
    <span class="splash-italic">and a</span>
    <span class="splash-job"><a href="#" style="z-index:8;">Philosopher</a>.</span>
  </div>
</div>
<!-- <script type="text/javascript" src="scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="scripts/main.js"></script> -->
