<h1>
  <a href="<%= "/#{@section['path']}" %>">
    <span class="name">Tyler Guillen</span>
    <span class="italic">is a</span>
    <span class="job"><%= @section['name'] %>.</span>
  </a>
</h1>
