<p>We have added the following names to our guest list:</p>
<ul>
  <% wedding_get_attendees(guest_info).each do |guest| %>
    <li><%= guest %></li>
  <% end %>
</ul>

<p>We look forward to seeing you on our special day!</p>
