<h2>Where to find me</h2>

<dl class="contact-info">
  <dt>
    Email
  </dt>
  <dd>
    tyler <span class="light">at</span> tylerguillen <span class="light">dot</span> com
  </dd>
  <dt>
    Blog
  </dt>
  <dd>
    <a href="http://blog.tylerguillen.com">blog.tylerguillen.com</a>
  </dd>
  <dt>
    GitHub
  </dt>
  <dd>
    <a href="http://github.com/aastronautss">aastronautss</a>
  </dd>
  <dt>
    Flickr
  </dt>
  <dd>
    <a href="https://www.flickr.com/photos/linkie0/">aastronautss</a>
  </dd>
  <dt>
    Instagram
  </dt>
  <dd>
    <a href="https://www.instagram.com/aastronautss/">@aastronautss</a>
  </dd>
</dl>
