<!doctype html>
<html lang="en-US">
  <head>
    <title>Tyler Guillen is a <%= JOBS[@role] %>.</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div id="wrap">
      <header>

      </header>
      <main>
        <%= yield %>
      </main>
    </div>
    <footer>
      <nav>
        <ul>
          <% JOBS.each do |role, text| %>
            <li>
              <a href="/<%= role.to_s %>">
                <%= text %>
              </a>
            </li>
          <% end %>
        </ul>
      </nav>
    </footer>
  </body>
</html>
