<main>
  <div class="line"><span class="name">Tyler A. Guillen</span></div>
  <div class="line webdev">
    <span class="italic">is a</span>
    <span class="job"><a href="/webdev">Web Developer</a>,</span>
  </div>
  <div class="line photo">
    <span class="italic">a</span>
    <span class="job"><a href="/photo">Photographer</a>,</span>
  </div>
  <div class="line phil">
    <span class="italic">and a</span>
    <span class="job"><a href="/phil">Philosopher</a>.</span>
  </div>
</main>
