<!doctype html>
<html lang="en-US">
  <head>
    <title>Tyler A. Guillen</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Tyler Guillen is a web developer, a photographer, and a philosopher.">
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="splash.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
