<!doctype html>
<html>
  <head>
    <title>Allison and Tyler are getting married!</title>
    <meta charset="UTF-8" />
    <script src="https://use.typekit.net/xyw0iab.js"></script>
    <script>try{Typekit.load({ async: false });}catch(e){}</script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/wedding.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.2/backbone-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="/javascripts/wedding.js"></script>
  </head>
  <body>
  <main>
    <header>
      <h1>Tyler <span>and</span> Allison</h1>
      <p class="date">8 October 2016</p>
    </header>

    <article>
      <section>
        <p>
          <span>They're getting married.</span> Tying the knot. Getting hitched. They'd like for you to join them as they do so.
        </p>

        <div>
          <img src="http://res.cloudinary.com/aastronautss/image/upload/c_scale,q_100,w_500/v1464659784/2013-05-26_08.05.57_ssdwm9.jpg">
        </div>

        <p>
          Allison Beresford and Tyler Guillen met in San Diego in 2013 while they were tutoring at a local community college. It was one of those steamy office romances you'd see on Mad Men or a film noir, minus the mysogyny, well-tailored suits, and tobacco. He liked her worldliness, her razor-sharp wit, and her vaguely Eastern-Eurpoean appearance. She liked his bad ass motorcycle persona, his devil-may-care spirit, and his perfectly tousled hair. Truly, it was meant to be from the start.
        </p>

        <p>
          Together, they were unstoppable. Tyler, a self-proclaimed philosomathemalogitographer, and Allison, an international woman of mystery, took on the world--from the wilds of Santa Cruz, to the toils of Washington, to the romance of Budapest--armed with hope and copious amounts of strong coffee. No amount of distance, overly spicy Thai food, soul-crushing traffic, or existential dread could possibly have gotten in their way. After a couple of road trips, a few cross-country flights, and countless exchanges of wit, they decided marriage was starting to look pretty good.
        </p>

        <p>
          So, they got an apartment, adopted a dog, and started planning. This is where you come in.
        </p>
      </section>

      <section>
        <header>
          <h2>The Ceremony</h2>
          <p class="time">1:00 pm</p>
        </header>

        <p>
          Due to space constraints, the ceremony will only be open to immediate family. It will take place at:
        </p>

        <p class="address">
          <span><a href="https://www.google.com/maps/place/32%C2%B043'59.5%22N+117%C2%B015'23.8%22W/@32.733255,-117.2565308,157m/data=!3m1!1e3!4m5!3m4!1s0x0:0x0!8m2!3d32.733196!4d-117.2566" target="blank">Osprey Point</a></span><br>
          Sunset Cliffs<br>
          1241 Sunset Cliffs Boulevard<br>
          San Diego, California 92107
        </p>

        <p>
          While the ceremony will be short and sweet, there will be no seating available, so plan accordingly. Dogs are welcome, as ours will be attending in spirit. We hear that it's a popular spot for cliff jumping, so if that's your thing, go nuts.
        </p>

        <p>
          <a href="https://www.google.com/maps/place/32%C2%B043'59.5%22N+117%C2%B015'23.8%22W/@32.733255,-117.2565308,157m/data=!3m1!1e3!4m5!3m4!1s0x0:0x0!8m2!3d32.733196!4d-117.2566" class="button" target="blank">View Map</a>
        </p>

        <h3>Parking</h3>

        <p>
          There is a parking lot adjacent to the ceremony area, which is located directly off Sunset Cliffs Blvd. This is a public space, however, so you may need to park in one of the lots down the road if it is busy.
        </p>

        <p>
          We will post some signage to make it easy to spot, but we recommend using GPS to point you there.
        </p>
      </section>

      <section>
        <header>
          <h2>The Reception</h2>
          <p class="time">3:00 pm</p>
        </header>

        <p>
          Our ceremony will be private, but all are welcome to our reception. It will take place at:
        </p>

        <p class="address">
          <span><a href="https://www.sdcea.net/Recreation/Rotunda.aspx" target="blank">The Rotunda</a></span><br>
          San Diego Country Estates International Equestrian Center<br>
          16911 Gunn Stage Road<br>
          Ramona, California 92065
        </p>

        <p>
          There will be music and dancing and other related wedding-type festivities. DJ service will be provided by iTunes' Random mode.
        </p>

        <p>
          <a href="https://www.google.com/maps/place/33%C2%B001'13.7%22N+116%C2%B048'08.7%22W/@33.0201683,-116.8035007,373m/data=!3m1!1e3!4m5!3m4!1s0x0:0x0!8m2!3d33.020467!4d-116.802428" target="blank" class="button">View Map</a>
        </p>

        <h3>Parking</h3>

        <p>
          There is plenty of parking near the building, and overflow parking can be found further down Arena Way.
        </p>

        <h3>Dinner</h3>

        <p>
          We will have a toast, and then eat. Catering will be provided by the North Park Produce Bakery and Grill, a Halal food joint in Poway, served buffet-style. Complimenatary coffee and pop will be provided. We will attempt to accomodate for dietary restrictions, so please make note of your needs when you RSVP below. You poor thing.
        </p>

        <p>
          After dinner, gelato will be served in lieu of a cake because we like gelato more. And who wants cake when you can have gelato?
        </p>

        <h3>Booze</h3>

        <p>
          While the first round of drinks and champagne will be on the house, it would be a big help if you could bring additional drinks for yourself if you wish to imbibe apart from that.
        </p>
      </section>
      <section>
        <h2>Guest Information</h2>

        <p>Just wear something nice. If you would like to color-coordinate, our official wedding colors are:</p>

        <div class="center">
          <div class="swatch green">
            <p>Pantone Solid Coated 325 C</p>
            <p>#7ccecd</p>
            <p>RGB 124, 206, 205</p>
            <p>CMYK 40, 0, 0, 19</p>
          </div>
          <div class="swatch grey">
            <p>Pantone Solid Uncoated 7544 U</p>
            <p>#9ea6af</p>
            <p>RGB 158, 166, 175</p>
            <p>CMYK 10, 5, 0, 31</p>
          </div>
        </div>
      </section>

      <section>
        <h2>Registry</h2>

        <p>
          We are registered with Amazon:
        </p>

        <p><a href="https://smile.amazon.com/wedding/tyler-guillen-allison-beresford-san-diego-october-2016/registry/GIU925QM34RP" target="blank" class="button">Amazon Registry</a></p>

        <p>Gifts given through our registry will help support City Dogs Rescue, the organization through which we adopted our dog, Bejgli.</p>

        <div>
          <img src="http://res.cloudinary.com/aastronautss/image/upload/c_scale,q_100,w_500/v1464659812/IMG_20160530_110931_kc6nui.jpg">
        </div>

        <p>
          You are welcome to purchase gifts that are not on the registry, but please remember that we are currently living in a studio apartment and space is a major concern.
        </p>
      </section>
    </article>

    <hr>

    <form action="/wedding" method="post">
      <header>
        <h2 class="tk-bebas-neue">RSVP</h2>
        <p class="tk-raleway">Please respond by 25 August 2016</p>
      </header>

      <fieldset>
        <div class="row field tk-raleway">
          <label for="name" class="hide tk-raleway">Your Name</label>
          <input type="text" name="name" id="name" class="tk-raleway" placeholder="m" autocomplete="off" required>
        </div>

        <div class="row">
          <label>
            <input type="radio" name="attending" value="true" checked>I will gladly attend.
          </label>
          <label>
            <input type="radio" name="attending" value="false">I will regretfully not attend.
          </label>
        </div>

        <hr>

        <div class="row" id="plus_one">
          <div class="row">
            <h3 class="tk-bebas-neue">Guests</h3>
          </div>
          <div class="row">
            <button id="add_guest">Add Guest</button>
            <ul class="row" id="guest_forms"></ul>
          </div>

          <hr>

          <div class="row">
            <label for="notes">
              <h3 class="tk-bebas-neue">Additional Info</h3>
            </label>
            <textarea name="notes" id="notes" placeholder="If you or any of your guests have any dietary restrictions or funny things to say, please make note of them here."></textarea>
          </div>
        </div>

        <div class="row">
          <input type="submit">
        </div>
      </fieldset>
    </form>
  </main>

    <script type="text/x-handlebars" id="guest">
        <label for="guest_{{id}}" class="hide">Guest's Name</label>
        <input type="text" name="guest_{{id}}" id="guest_{{id}}" placeholder="m" autocomplete="off" required>
        <a href="#" class="delete">Remove</a>
    </script>
  </body>
</html>
