<!doctype html>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <script src="https://use.typekit.net/xyw0iab.js"></script>
    <script>try{Typekit.load({ async: false });}catch(e){}</script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/wedding.css">
  </head>
  <body>
    <main class="thank-you">
      <h1>Thank you</h1>

      <%= erb (guest_info['attending'] == 'true' ? :_wedding_true : :_wedding_false), locals: { guest_info: guest_info } %>

      <div class="links">
        <a class="button" href="http://tylerguillen.com/wedding" target="blank">
          Wedding Site
        </a>

        <a class="button" href="https://smile.amazon.com/wedding/tyler-guillen-allison-beresford-san-diego-october-2016/registry/GIU925QM34RP" target="blank">
          Registry
        </a>
      </div>
    </main>
  </body>
</html>
