body {
  -webkit-font-feature-settings: "kern", "liga", "dlig";
     -moz-font-feature-settings: "kern", "liga", "dlig";
          font-feature-settings: "kern", "liga", "dlig";
  text-rendering: optimizeLegibility;
  color: #666;
  font: 400 20px raleway, sans-serif;
}

main {
  width: 500px;
  margin: 0 auto;
  padding: 0 0 35px 0;
}

main > header {
  padding: 25px 0 0 0;
}

section:before,
hr {
  margin: 25px 0 20px 0;
  display: block;
  content: '';
  width: 100%;
  height: 6px;
  background: transparent url(/images/wedding_hr.png) repeat-x 0 0;
  border: 0;
}

fieldset hr {
  margin: 25px 0 25px 0;
}

a {
  text-decoration: none;
  color: #7ccecd;
}

header {
  text-align: center;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: bebas-neue, sans-serif;
  color: #7ccecd;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

h1 > span {
  vertical-align: middle;
  display: inline-block;
  font-family: "Lobster", sans-serif;
  font-size: 40px;
  color: #9ea6af;
  transform: rotate(-12deg) skewY(-5deg);
}

header p {
  color: #aaa;
}

.date,
.time {
  text-align: center;
}

.date {
  font-size: 30px;
  padding-top: 10px;
}

.time {
  font-size: 25px;
  margin-top: -10px;
  padding-bottom: 10px;
}

article h2 {
  padding: 0 0 10px 0;
}

article h3 {
  padding: 10px 0;
}

article p {
  text-align: justify;
}

article p + p {
  margin-top: 15px;
}

article p span {
  text-transform: uppercase;
  color: #7ccecd;
}

.portrait {
  background: url("http://res.cloudinary.com/aastronautss/image/upload/c_scale,q_100,w_500/v1464659784/2013-05-26_08.05.57_ssdwm9.jpg") 50% 50% no-repeat;
}

.bejgli {
  background: url("http://res.cloudinary.com/aastronautss/image/upload/c_scale,h_375/v1464659812/IMG_20160530_110931_kc6nui.jpg") 50% 50% no-repeat;
}

.circle.image {
  border-radius: 100%;
  width: 375px;
  height: 375px;
  overflow: hidden;
  display: block;
  text-align: center;
  margin: 25px auto;
  /*border-radius: 5px;*/
}

.address {
  text-align: center;
  font-size: 16px;
}

.center {
  /* text-align: center;
  width: 100%; */
}

.swatch {
  box-sizing: border-box;
  border-radius: 5px;
  margin: 20px auto;
  padding: 15px;
  display: block;
  text-align: center;
  width: 300px;
}

.swatch.green {
  background: #7ccecd;
}

.swatch.grey {
  background: #9ea6af;
}

.swatch p {
  text-align: center;
  color: #fff;
  font: 400 20px bebas-neue, sans-serif;
  margin: 3px 0;
}

form {
  text-align: center;
}

.row + .row {
  margin: 20px 0 0 0;
}

.optional {
  display: none;
}

.hide {
  display: none;
}

input[type=text] {
  color: #444;
  font: italic 400 30px raleway, sans-serif;
  margin-top: 10px;
  border: none;
  border-bottom: dotted 2px #aaa;
  width: 300px;
}

textarea {
  resize: none;
  margin: 15px 0 0 0;
  padding: 5px;
  width: 80%;
  height: 150px;
  font: normal 400 16px raleway, sans-serif;
  color: #666;
}

input:focus,
button:focus {
  outline: 0;
}

.button {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 9px;
  border: none;
  border-radius: 5px;
  width: 140px;
  height: 40px;
  box-sizing: border-box;
  background: #7ccecd;
  color: #fff;
  font: 400 20px bebas-neue, sans-serif;
}

input[type=submit],
button {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: #7ccecd;
  color: #fff;
  font: 400 20px bebas-neue, sans-serif;
}

button:disabled {
  background: #eee;
}

.delete {
  margin-left: 5px;
  display: inline-block;
  width: 15px;
  height: 15px;
  text-indent: -8685px;
  overflow: hidden;
  background: transparent url("/images/wedding_x.png") 0 0 no-repeat;
}

.thank-you {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 16% 0 0 0;
  width: 600px;

  text-align: center;
}

.thank-you h1 {
  font-size: 150px;
}

.thank-you p {
  margin-bottom: 15px;
}

.thank-you li {
  color: #7ccecd;
  font: 400 32px bebas-neue, sans-serif;
}

.thank-you ul {
  margin-bottom: 10px;
}

.thank-you .links {
  margin-top: 30px;
}

.thank-you .button {
  display: inline-block;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  main {
    width: 95%;
  }

  h1 {
    font-size: 140px;
  }

  h1 > span {
    font-size: 60px;
  }

  h2 {
    font-size: 100px;
  }

  h3 {
    font-size: 70px;
  }

  section p + p {
    margin-top: 30px;
  }

  section > div {
    text-align: center;
  }

  .button,
  input[type=submit],
  button {
    width: 400px;
    height: 100px;
    border-radius: 15px;
    font-size: 60px;
  }

  .button {
    padding-top: 17px;
    margin: 25px auto;
  }

  .swatch {
    width: 70%;
  }

  .swatch p {
    font-size: 50px;
  }

  form header p {
    font-size: 50px;
  }

  input[type=text] {
    width: 75%;
    font-size: 50px;
  }

  input[type=radio] {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
  }

  form label {
    display: block;
    font-size: 50px;
  }

  textarea {
    height: 600px;
    font-size: 40px;
    border: 2px solid #666;
    box-sizing: border-box;
    padding: 20px;
  }
}
