main {
  &.front {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    font-family: "Mate", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3em;
    color: #4a4a4a;

    a {
      color: #666;
      text-decoration: none;
    }

    p {
      margin: 0;

      & + p {
        margin-top: 10px;
      }
    }

    .centered-vert {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      &.centered-optically {
        top: 45%;
      }
    }

    .centered-horiz {
      text-align: center;
    }

    h1 {
      position: relative;
      top: -18px;
      display: inline-block;
      margin: 0;

      font-family: Futura, "Open Sans", "Trebushet MS", Arial, sans-serif;
      text-align: right;
      font-size: 2.5em;
      font-weight: medium;
    }

    h2 {
      margin: 0;
      font-family: Futura, "Open Sans", "Trebushet MS", Arial, sans-serif;
      text-align: center;
      font-size: 1.5em;
      font-weight: 400;
      color: #666;
    }

    h3 {
      font-family: Futura, "Open Sans", "Trebushet MS", Arial, sans-serif;
      font-size: 1.1em;
      font-weight: 400;
      color: #aaa;
    }

    nav {
      display: inline-block;
      margin-left: 25px;
      width: 148px;
      font-family: 'Open Sans', sans-serif;
      text-align: left;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      .active {
        font-weight: 600;

        &::before {

        }
      }
    }

    .lower-content {
      position: relative;
      top: 45%;
      margin: 0 auto;
      padding-bottom: 45px;
      width: 400px;

      .photo-set-tile-group {
        width: 100%;

        .photo-set-tile {
          display: block;
          width: 100%;
          height: 75px;

          font-family: Futura, "Open Sans", "Trebushet MS", Arial, sans-serif;
          text-align: center;
          vertical-align: middle;
          line-height: 62px;
          font-size: 1.8em;
          letter-spacing: .3em;

          background: #aaa;
          color: #fff;

          span {
            display: inline;
            display: inline-table;
            display: inline-block;
            vertical-align: middle;
          }

          & + .photo-set-tile {
            margin-top: 10px;
          }
        }
      }

      .blog-summaries {
        margin-top: 10px;

        .blog-summary {
          h3 {
            display: inline-block;
            margin-right: 5px;
            font-size: 1em;
          }

          .post-date {
            display: inline-block;
            margin-left: 5px;
            font-style: italic;
            color: #888;
          }

          .post-excerpt {
            display: block;
          }

          .post-more a {
            color: #888;
          }

          & + .blog-summary {
            margin-top: 20px;
          }
        }
      }

      .contact-links {
        text-align: center;

        h2 {
          margin-bottom: 10px;
        }

        h3 {
          margin: 15px 0 5px 0;
        }

        p {
          i {
            font-style: italic;
            color: #999;
          }
        }
      }
    }
  }
}

.centered-vert {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  &.centered-optically {
    top: 45%;
  }
}

.centered-horiz {
  text-align: center;
}

@media (max-width: 990px) {
  main.front {
    h1 {
      display: block;
      text-align: center;
    }

    nav {
      margin: 10px 0 0 0;
      width: 100%;
      text-align: center;

      li {
        display: inline-block;
      }
    }


    .lower-content {
      width: 800px;
    }
  }
}
