.fade-on-load {
  opacity: 0;
  -webkit-transition: opacity 0.7s ease-in;
     -moz-transition: opacity 0.7s ease-in;
      -ms-transition: opacity 0.7s ease-in;
       -o-transition: opacity 0.7s ease-in;
          transition: opacity 0.7s ease-in;

  &.load {
    opacity: 1;
  }
}

.fade-on-leave {
  -webkit-transition: opacity 0.4s ease-in;
     -moz-transition: opacity 0.4s ease-in;
      -ms-transition: opacity 0.4s ease-in;
       -o-transition: opacity 0.4s ease-in;
          transition: opacity 0.4s ease-in;
}

.fade-out {
  opacity: 0;
}

.flash-transition {
  -webkit-transition: opacity 0.5s ease-in;
     -moz-transition: opacity 0.5s ease-in;
      -ms-transition: opacity 0.5s ease-in;
       -o-transition: opacity 0.5s ease-in;
          transition: opacity 0.5s ease-in;
}

.flash {
  opacity: 0.6;
}
