@import url('https://fonts.googleapis.com/css?family=Mate:400,400i|Open+Sans:300,300i,400,400i,600,600i,700,700i');

$header-font-stack: Futura, "Open Sans", "Trebushet MS", Arial, sans-serif;
$subheader-font-stack: "Open Sans", sans-serif;
$text-font-stack: "Mate", sans-serif;

$text-color: #4a4a4a;
$header-1-color: #333;
$header-2-color: #666;
$link-color: #666;
