#wrap {
  position: relative;
  height: 100vh;
}

main {
  position: absolute;
  top: 45%;
  margin: -39px auto 0 auto;
  width: 100%;
}

header {
  height: 78px;
  text-align: center;
}

h1 {
  display: inline-block;
  position: relative;
  top: -18px;
  text-align: right;
}

h2 {
  margin: 0;
  text-align: center;
}

nav {
  display: inline-block;
  margin-left: 25px;
  width: 148px;

  font-family: $subheader-font-stack;
  text-align: left;

  .active {
    font-weight: 600;
  }
}

.lower-content {
  margin: 39px auto 0 auto;
  padding: 0 0 45px 0;
  width: 400px;
}

.contact-links {
  text-align: center;

  h3 {
    margin: 15px 0 5px 0;
  }

  p {
    i {
      color: $accent-color;
    }
  }
}

.blog-summary {
  margin-top: 10px;

  h3 {
    display: inline-block;
    font-size: 1em;
  }

  .post-date {
    display: inline-block;
    margin-left: 5px;
    font-style: italic;
    color: #888;
  }

  .post-excerpt {
    display: block;
  }

  .post-more a {
    color: #888;
  }

  & + .blog-summary {
    margin-top: 20px;
  }
}
