body {
  font: 400 16px/1.5em Lora, serif;
  color: #444;
  -webkit-font-feature-settings: "kern", "liga";
     -moz-font-feature-settings: "kern", "liga";
          font-feature-settings: "kern", "liga";
  text-rendering: optimizeLegibility;
}

#wrap {
  min-height: 100%;
}

.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

a {
  text-decoration: none;
  color: #555;
  -webkit-transition: color .45s;
  -moz-transition: color .45s;
  transition: color .45s;
}

a:hover {
  color: #9a9a9a;
}

header {
  max-width: 800px;
  margin: 5px auto 15px auto;
}

h1 {
  display: inline-block;
  float: left;
  font-size: 28px;
}

h1 .name {
  color: #4a4a4a;
}

h1 .italic {
  color: #999;
  font-style: italic;
}

h1 .job {
  color: #666;
}

h2 {
  text-align: center;
  letter-spacing: .1em;
  font-size: 1.6em;
  text-transform: lowercase;
  font-variant: small-caps;
}

header nav {
  display: inline-block;
  float: right;
}

header li {
  display: inline-block;
  position: relative;
  margin: 0 5px 0 5px;
}

header li:last-child {
  margin-right: 0;
}

.sub-menu {
  display: none;
  position: absolute;
  text-align: center;
  margin: 5px auto 0 auto;
  padding: 4px;
  background: rgba(0, 0, 0, .1);
  color: #aaa;
  font-size: 1.1em;
}

.sub-menu li {
  display: block;
}

main {
  max-width: 950px;
  padding: 25px 0 0 0;
  margin: 0 auto;
}

main article {
  max-width: 500px;
  margin: 0 auto;
  font: normal 16px "EB Garamond", serif;
  text-align: justify;
}

main article p {
  margin-bottom: 10px;
}

main article a {
  color: #999;
}

main article a:hover {
  color: #bbb;
}

.light {
  color: #adadad;
}

.contact-info {
  color: #6a6a6a;
  text-align: center;
  margin: 35px 0 0 0;
  line-height: 1em;
}

.contact-info dt {
  margin: 0 0 5px 0;
  color: #999;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: .1em;
}

.contact-info dd + dt {
  margin: 25px 0 5px 0;
}

footer nav {
  text-align: center;
  padding: 10px 0 0 0;
}

footer li {
  display: inline-block;
}

footer li:first-child {
  margin-right: 40px;
}

footer li:last-child {
  margin-left: 40px;
}

footer {
  position: absolute;
  left: 50%;
  bottom: 7px;
  width: 800px;
  transform: translateX(-50%);
}
