@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic);

/* Body & General */

html, body {
  height: 100%;
}

body {
  font: normal 16px/1.5em 'Lora', serif;
}

#wrap {
  min-height: 100%;
}

.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* Headers & Navbar */

header {
  position: relative;
  max-width: 800px;
  top: 5px;
  margin: 0 auto 15px auto;
}

h1 {
  display: inline-block;
  float: left;
  font-size: 28px;
}

h1 .name {
  color: #4a4a4a;
}

h1 .italic {
  color: #999;
  font-style: italic;
}

h1 .job {
  color: #666;
}

header nav {
  display: inline-block;
  float: right;
}

header li {
  display: inline-block;
  margin: 0 5px 0 5px;
}

header li:last-child {
  margin-right: 0;
}

/* Body */

main {
  box-sizing: border-box;
  overflow: auto;
  padding: 0 0 65px 0;
  text-align: center;
}

.not-found {
  margin-top: 150px;
  text-align: center;
}

/* Footer */

footer {
  position: relative;
  margin: -65px 0 0 0;
  height: 65px;
  clear: both;
}

/* Opera fix for footer */

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

footer nav {
  text-align: center;
  padding: 10px 0 0 0;
}

footer li {
  display: inline-block;
}

footer li:first-child {
  margin-right: 40px;
}

footer li:last-child {
  margin-left: 40px;
}

a {
  text-decoration: none;
  color: #555;
  -webkit-transition: color .45s;
  -moz-transition: color .45s;
  transition: color .45s;
}

a:hover {
  color: #9a9a9a;
}
