#wrap {
  height: 100%;
}

main {
  overflow: hidden;
}

.grid {
  height: 100%;
}

.box {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  background: #aaa;
}


/* main {
  background-image: url(https://c2.staticflickr.com/6/5590/14704476330_00bcd4fd1f_o.jpg);
  background-size: cover;
  height: calc(100% - 80px);
} */

/* .content {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.grid-line {
  display: block;
}

.box {
  display: inline-block;
  box-sizing: border-box;
  height: 300px;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  /* margin: 5px 10px; */
/*  transition: .40s;
  -webkit-transition: .40s;
}

.box:hover {
  background-size: 103%;
}

.one {
  background-image: url(https://c2.staticflickr.com/6/5306/5900499948_eb9285fc95_o.jpg);
  background-size: 104% auto;
  background-position: 50% 25%;
}

.one:hover {
  background-size: 106%
}

.two {
  background-image: url(https://c2.staticflickr.com/8/7323/9603473861_ee8dbd7517_o.jpg);
}

.three {
  background-image: url(https://c2.staticflickr.com/6/5071/7059768969_08bb6ffb97_c.jpg  );
}

.four {
  background-image: url(https://c1.staticflickr.com/5/4149/4987647584_4e55258e18_o.jpg);
} */
