body {
  color: #666;
  font: 400 20px Cormorant, serif;
}

main {
  width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #444;
}

.optional {
  display: none;
}

.hide {
  display: none;
}

input[type=text] {
  color: #444;
  font: italic 400 30px Cormorant, serif;
  border: none;
  border-bottom: dotted 2px #aaa;
  width: 300px;
}

input:focus,
button:focus {
  outline: 0;
}

input[type=submit],
button {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: #eee;
  color: #444;
  font: 400 20px Cormorant, serif;
}
