<nav>
  <ul>
    <% SITEMAP.each do |section| %>
      <li>
        <a href="/<%= section['path'] %>">
          <%= section['name'] %>
        </a>
      </li>
    <% end %>
  </ul>
</nav>
