main {
  &.front {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    font-family: 'Aleo', sans-serif;
    color: #4a4a4a;

    a {
      color: #666;
      text-decoration: none;
    }

    p {
      margin: 0;

      & + p {
        margin-top: 10px;
      }
    }

    .centered-vert {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      &.centered-optically {
        top: 45%;
      }
    }

    .centered-horiz {
      text-align: center;
    }

    h1 {
      display: inline-block;
      margin: 0;
      text-align: right;
    }

    h2 {
      margin: 0;
      text-align: center;
      font-size: 1.3em;
      color: #666;
    }

    nav {
      display: inline-block;
      margin-left: 25px;
      text-align: left;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      .active {
        &::before {

        }
      }
    }

    .lower-content {
      position: relative;
      top: 60%;
      margin: 0 auto;
      padding-bottom: 45px;
      width: 400px;

      // Page Load
      opacity: 0;
      -webkit-transition: opacity 0.5s ease-in;
         -moz-transition: opacity 0.5s ease-in;
          -ms-transition: opacity 0.5s ease-in;
           -o-transition: opacity 0.5s ease-in;
              transition: opacity 0.5s ease-in;

      &.load {
        opacity: 1;
      }

      .contact-links {
        text-align: center;

        h2 {
          margin-bottom: 10px;
        }

        h3 {
          margin: 15px 0 5px 0;
          font-size: 1.1em;
          color: #aaa;
        }

        p {
          i {
            font-style: normal;
            color: #999;
          }
        }
      }
    }
  }
}
