<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    {% include stylesheet_tags.html %}
    {% include javascript_tags.html %}
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  </head>

  <body>
    <main>
    {% include blog_header.html %}

      <article>
        <header>
          <h1>{{ page.title }}</h1>
          {% if page.subtitle %}
            <div class="post-subtitle">
              {{ page.subtitle }}
            </div>
          {% endif %}

          <div class="post-date">
            <time datetime="{{ page.date }}">
              {{ page.date | date_to_long_string }}
            </time>
          </div>
        </header>

        <div class="post-content">{{ content }}</div>

        <div class="filed-in">
          Filed in <span class="category">{{ page.category }}</span>
        </div>
      </article>
    </main>
  </body>
</html>
